# um jupyter sicherheitskopie zu ignorieren
.ipynb_checkpoints/
# vscode: persönliche/maschinspezifische Dateien ignorieren, settings.json aber versionieren
.vscode/*
!.vscode/settings.json
# ruby-vscode: persönliche/maschinspezifische Dateien ignorieren, settings.json aber versionieren
ruby/.vscode/*
!ruby/.vscode/settings.json
# von Python modulimport erzeugte Dateien für den (ohne punkt vor dem ordner, das brauche ich nur bei versteckten dateien
__pycache__/
*.pyc
# das ist nur mein vibe coding projekt in einer virtuellen umgebung, kann ignoriert werden
python/projects/mandelbrot/

# Java build output - bin brauchen wir nicht versionieren
java/bin/
*.class

# Maven build output
java/target/
**/target/