.wrapper {
  position: relative;
  width: 500px;
  height: 400px;
  border: 1px solid black;
}

.pixel {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
  left: 0;
  top: 0;
}
.columns {
  display: flex;
  gap: 10px; /* Abstand zwischen den Boxen */
  margin-bottom: 10px;
}

.stripe {
  width: 100%;
  height: 200px; /* Bereich für Mausbewegung */
  background: #efefef;
  margin-bottom: 10px;
}

.column {
  width: 120px;
  height: 50px;
  background: white;      /* weiße Box */
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;    /* Text zentrieren */
  font-size: 1.5em;
  color: #333;
}
